/* app/globals.css */

@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;

  --quran-nav: #ffffff;
  --quran-footer: var(--background);
  --quran-panel: #ffffff;
  --quran-border-primary: #ebebeb;
  --quran-border-secondary: #cfcfcf;
  --quran-title: #3c3c43;
  --quran-subtitle: #67676c;
  --quran-info: var(--color-gray-500);

  --quran-active: #171717;
  --quran-inactive: #666666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: "Segoe UI", "Roboto Flex", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-arabic: var(--font-noto-naskh-arabic);
  --font-weight: 400;
  --font-style: normal;

  --color-quran-nav: var(--quran-nav);
  --color-quran-footer: var(--quran-footer);
  --color-quran-panel: var(--quran-panel);
  --color-quran-border-primary: var(--quran-border-primary);
  --color-quran-border-secondary: var(--quran-border-secondary);
  --color-quran-title: var(--quran-title);
  --color-quran-subtitle: var(--quran-subtitle);
  --color-quran-info: var(--quran-info);

  --color-quran-active: var(--quran-active);
  --color-quran-inactive: var(--quran-inactive);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --quran-nav: #202127;
    --quran-footer: var(--background);
    --quran-panel: #202127;
    --quran-border-primary: #111111;
    --quran-border-secondary: #444444;
    --quran-title: #ffffff;
    --quran-subtitle: #98989f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
  font-family: var(--font-sans);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-optical-sizing: auto;
}

.layout-width {
  @apply max-w-7xl mx-auto px-4;
}

.icon-wrapper,
.icon-wrapper-fill {
  color: var(--color-quran-border-secondary);
  fill: none;
}
.icon-wrapper-active,
.icon-wrapper:hover {
  color: var(--color-quran-title);
}

.icon-wrapper-fill-active,
.icon-wrapper-fill:hover {
  color: var(--color-quran-subtitle);
  fill: var(--color-quran-subtitle);
}

.divider-x-dot li:not(:last-child)::after {
  content: "•";
  margin: 0 0.6em;
  color: var(--mdb-subtitle, #999);
  font-weight: bold;
}

html {
  scroll-behavior: smooth; /* enables smooth scrolling */
}
[id] {
  scroll-margin-top: 76px; /* height of your header */
}
